# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
/NES/__pycache__/
NES.egg-info/
/notebooks/.ipynb_checkpoints
/notebooks/Models
/notebooks/testing.ipynb
/notebooks/testing3D.ipynb

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
*.png

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
