absl-py==1.1.0
argon2-cffi
argon2-cffi-bindings 
asttokens 
astunparse==1.6.3
attrs 
backcall 
beautifulsoup4 
bleach 
bokeh 
Bottleneck 
brotlipy==0.7.0
cachetools==5.2.0
certifi
cffi
charset-normalizer==2.1.0
colorama
colorcet==3.0.0
cryptography
cycler
debugpy
decorator
defusedxml
eikonalfm==0.9.5
entrypoints
executing
fastjsonschema
flatbuffers==1.12
fonttools==4.25.0
gast==0.4.0
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.7.0
holoviews==1.14.9
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib==1.1.0
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver
libclang==14.0.1
Markdown==3.3.7
MarkupSafe
matplotlib
matplotlib-inline 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
munkres==1.1.4
nbclient 
nbconvert
nbformat 
NES @ git+https://github.com/sgrubas/NES.git
nest-asyncio 
notebook 
numexpr 
numpy==1.23.0
oauthlib==3.2.0
opt-einsum==3.3.0
packaging 
pandas 
pandocfilters 
panel==0.13.1
param==1.12.2
parso 
pickleshare 
Pillow==9.0.1
prometheus-client 
prompt-toolkit
protobuf==3.19.4
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
pyct==0.4.8
Pygments 
pyOpenSSL 
pyparsing==3.0.9
pyrsistent 
PySocks 
python-dateutil 
pytz 
pyviz-comms==2.2.0
pywin32==302
pywinpty 
PyYAML==6.0
pyzmq 
qtconsole 
QtPy 
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
Send2Trash
sip==4.19.13
six 
soupsieve 
stack-data 
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado 
testpath 
threadpoolctl==3.1.0
tornado 
tqdm 
traitlets
typing_extensions==4.3.0
urllib3==1.26.10
wcwidth 
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension 
win-inet-pton 
wincertstore==0.2
wrapt==1.14.1
zipp 
